/* Remove the default NodeCG panel styling. */
body {
  background-color: initial !important;
  color: initial !important;
  margin: initial !important;
}

.centered-input input {
  text-align: center;
}
